@font-face {
    font-family: MishMash;
    src: url("/static/fonts/mishmash.ttf");
}

@font-face {
    font-family: RobotoCondensed;
    src: url("/static/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: RobotoCondensedBold;
    src: url("/static/fonts/RobotoCondensed-Bold.ttf");
}

body {
    background-color: #272b30;
    color: #c8c8c8;
}

body, html {
    height: 90%;
}

#wrapper {
    height: 100%;
}

#page-wrapper {
    background-color: #272b30;
    border-left-width: 0;
    min-height: 0;
    height: 100%;
}

.navbar-static-side {
    border-right: 1px solid #000000;
    height: 90%;
}

.navbar-static-side ul li {
    border-bottom-width: 0;
}
/*.navbar-static-side ul li {*/
    /*border-top: 1px solid #808080;*/
    /*border-bottom: 2px solid #000000;*/
    /*border-right: 1px solid #000000;*/
/*}*/

/*.navbar-static-side ul li:last-child {*/
    /*border-bottom-width: 1px;*/
/*}*/

.navbar-static-side ul li > a {
    color: #c8c8c8;
}

.navbar-static-side ul li > a:hover {
    background-color: #404048;
    color: #e8e8e8;
}

div#threejs-container {
    margin-top: 30px;
    height: 100%;
    position: relative;
}

button#refresh {
    position: absolute;
    margin: 8px;
    top: 0;
    left: 60px;
    width: 48px;
    height: 48px;
}

button#update {
    position: absolute;
    margin: 8px;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
}

#qr-code {
    position: absolute;
    margin: 16px;
    top: 0;
    right: 0;
    width: 192px;
    height: 192px;
    opacity: 0.667;
}

/* Collapsable tree widget using Bootstrap goodness. */
.tree {
    min-height:20px;
    /*padding:19px;*/
    /*margin-bottom:20px;*/
    background-color: #333333;
    /*-webkit-border-radius:4px;*/
    /*-moz-border-radius:4px;*/
    /*border-radius:4px;*/
    border-bottom-width: 0;
    border-top-width: 0;
    padding-left: 28px;
    overflow-y: scroll;
    height: 80%;
    /*-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);*/
    /*box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)*/
}

.tree li {
    list-style-type: none;
    /*margin: 0;*/
    margin-left: -20px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0;
    position: relative;
    border: 0;
}

.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    /*border-left:1px solid #999;*/
    border: 0;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    /*border-top:1px solid #999;*/
    border: 0;
    height:20px;
    top:25px;
    width:25px
}
.tree li span,
.tree li label {
    /*-moz-border-radius:5px;*/
    /*-webkit-border-radius:5px;*/
    /*border:1px solid #999;*/
    border-radius: 5px;
    border: 0;
    border-image-width: 0;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none;
    margin: 3px;
}
.tree li>span,
.tree li>label {
    cursor:pointer;
    width: 100%;
}

.tree>ul>li::before, .tree>ul>li::after {
    border:0;
}

.tree li:last-child::before {
    height:30px;
}

.tree li>span:hover,
.tree li>label:hover {
    background:#eee;
    color:#000;
}

input[type="radio"].roomRadio {
    display: none;
}

input[type="radio"].roomRadio:checked + label {
    margin: 0 3px;
    padding: 3px 5px;
    border: 3px solid #ee9600;
}

.btn-default {
    background-color: #cccccc;
    border-color: #888888;
}

.inset {
    color: #444444;
    text-shadow: 0 2px #ffffff;
}

.weather {
    position: absolute;
    margin: 16px;
    color: #43364a;
    background-color: #a3977d;
}

.weather#temperature {
    top: 88px;
    left: 0;
}

.weather#weather-icon {
    width: 64px;
    height: 64px;
    top: 36px;
    left: 20px;
}

#status {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #43364a;
    background-color: #a3977d;
    font-family: MishMash, sans-serif;
}

#toolbar {
    /*margin: 8px;*/
}

.reticule {
    /*visibility: hidden;*/
    width: 300px;
    height: 300px;
    top: 200px;
    left: 150px;
    position: absolute;
    border-width: 31px;
    -moz-border-image: url("/static/img/reticule.png") 31 31 31 31 repeat;
    -webkit-border-image: url("/static/img/reticule.png") 31 31 31 31 repeat;
    border-image: url("/static/img/reticule.png") 31 31 31 31 repeat;
}

div.callout .callout-title {
    font-family: RobotoCondensedBold, sans-serif;
    font-size: 20pt;
    margin: 0;
    color: #ff6050;
}

div.callout .callout-location {
    font-family: RobotoCondensed, sans-serif;
    font-size: 18pt;
    margin: 0;
}

div.callout .callout-body {
    font-family: RobotoCondensed, sans-serif;
    font-size: 15pt;
    margin: 0;
}

div.callout .callout-body td {
    padding-right: 16px;
}

div.callout {
	width: 256px;
    bottom: 200px;
    right: 0;
    position: absolute;
	color: #ffe100;
	min-height: 50px;
	border-bottom: 1px solid #ffe100;
	text-shadow: 0 0 2px #000;
}

.callout::before {
	content: "";
	width: 0;
	height: 0;
	border: 1px solid transparent;
	position: absolute;
}

.callout.top::before {
	right: 0;
	bottom: -65px;
	border-top: 64px solid #ffe100;
}

/*.callout.bottom::before {*/
	/*left: 45%;*/
	/*top: -20px;*/
	/*border-bottom: 10px solid #ffe100;*/
/*}*/

/*.callout.left::before {*/
	/*right: -20px;*/
	/*top: 40%;*/
	/*border-left: 10px solid #444;*/
/*}*/

/*.callout.right::before {*/
	/*left: -20px;*/
	/*top: 40%;*/
	/*border-right: 10px solid #444;*/
/*}*/

/*.callout.top-left::before {*/
	/*left: 7px;*/
	/*bottom: -20px;*/
	/*border-top: 10px solid #444;*/
/*}*/

/*.callout.top-right::before {*/
	/*right: 7px;*/
	/*bottom: -20px;*/
	/*border-top: 10px solid #444;*/
/*}*/