<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>

        <link href="/static/sb-admin-v2/css/bootstrap.css" rel="stylesheet">
        <link href="/static/sb-admin-v2/font-awesome/css/font-awesome.css" rel="stylesheet">
        {% block page_css %}{% endblock %}
        <link href="/static/sb-admin-v2/css/sb-admin.css" rel="stylesheet">
        <link href="/static/css/portico.css" rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">

            {% include 'sidebar.html' %}

            <div id="page-wrapper">
                {% block body %}{% endblock %}
            </div>

        </div>

        <script src="/static/sb-admin-v2/js/jquery-1.10.2.js"></script>
        <script src="/static/sb-admin-v2/js/bootstrap.min.js"></script>
        <script src="/static/sb-admin-v2/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        {% block page_scripts %}{% endblock %}
        <script src="/static/sb-admin-v2/js/sb-admin.js"></script>
        <script src="/static/js/sidebar.js"></script>
    </body>

</html>