{% extends "base.html" %}
{% block title %}Portico v0.1{% endblock %}
{% block page_css %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Graphs</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Line Chart Example
                </div>
                <div class="panel-body">
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}
<!--[if lte IE 8]><script src="/static/sb-admin-v2/js/plugins/flot/excanvas.min.js"></script><![endif]-->
    <script src="/static/sb-admin-v2/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/sb-admin-v2/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/sb-admin-v2/js/plugins/flot/jquery.flot.resize.js"></script>

    <script src="/static/js/graphs.js"></script>
{% endblock %}