{% extends "base.html" %}
{% block title %}Portico v0.1{% endblock %}
{% block page_css %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Settings</h1>
        </div>
    </div>

{% endblock %}

{% block page_scripts %}{% endblock %}