<nav class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="http://www.housahedron.com" target="_blank"><img src="/static/img/hhlogowhite.png" style="height: 24px"></a>
    </div>
</nav>

<nav class="navbar-inverse navbar-static-side">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="thermoview.html"><i class="fa fa-home fa-fw fa-lg"></i> Thermoview</a>
            </li>
            <li>
                <a href="graphs.html"><i class="fa fa-bar-chart-o fa-fw fa-lg"></i> Graphs</a>
            </li>
            <li>
                <a href="settings.html"><i class="fa fa-gear fa-fw fa-lg"></i> Settings</a>
            </li>
        </ul>
    </div>

    <hr>

    <div class="tree sidebar-search" id="sensor-heirarchy"></div>
</nav>