{% extends "base.html" %}
{% block title %}Portico v0.1{% endblock %}
{% block page_css %}
    <script src="/static/js/thermoview/config.js"></script>
    <script data-main="../main" src="/static/js/require.js"></script>
    <link rel="stylesheet" href="/static/css/iThing-min.css" type="text/css">
{% endblock %}

{% block body %}
        <div class="btn-group" role="toolbar" id="toolbar">
            <button type="button" class="btn btn-default" id="month-back" data-toggle="tooltip" data-placement="bottom" title="Back one month"><i class="fa fa-fast-backward fa-lg fa-fw inset"></i></button>
            <button type="button" class="btn btn-default" id="day-back" data-toggle="tooltip" data-placement="bottom" title="Back one day"><i class="fa fa-backward fa-lg fa-fw inset"></i></button>
            <button type="button" class="btn btn-default" id="hour-back" data-toggle="tooltip" data-placement="bottom" title="Back one hour"><i class="fa fa-step-backward fa-lg fa-fw inset"></i></button>

            <button type="button" class="btn btn-default" id="play-pause" data-toggle="tooltip" data-placement="bottom" title="Play"><i class="fa fa-play fa-lg fa-fw inset"></i></button>

            <button type="button" class="btn btn-default" id="hour-forward" data-toggle="tooltip" data-placement="bottom" title="Forward one hour"><i class="fa fa-step-forward fa-lg fa-fw inset"></i></button>
            <button type="button" class="btn btn-default" id="day-forward" data-toggle="tooltip" data-placement="bottom" title="Forward one day"><i class="fa fa-forward fa-lg fa-fw inset"></i></button>
            <button type="button" class="btn btn-default" id="month-forward" data-toggle="tooltip" data-placement="bottom" title="Forward one month"><i class="fa fa-fast-forward fa-lg fa-fw inset"></i></button>
        </div>
        <div id="status"></div>

    <div id="threejs-container">
{#        <span id="qr-code"><img src="/static/img/web_qr.png"/><h4>housahedron.com</h4></span>#}
{#        <span class="weather" id="weather-icon"></span>#}
{#        <span class="weather" id="temperature"></span>#}
{#        <div class="reticule" id="room-reticule"></div>#}
        <div class="callout top" id="test-callout"><div class="callout-title"></div><div class="callout-location"></div><span class="callout-body"></span><div class="sparkline"></div></div>
{#        <span class="weather" id="site"><h3><a href="http://www.nef.org.uk/" target="_blank">National Energy Foundation</a></h3></span>#}
    </div>
{#    <div id="slider"></div>#}
{% endblock %}

{% block page_scripts %}
    <script src="/static/js/jquery-ui.min.js" type="application/javascript"></script>
    <script src="/static/js/jQAllRangeSliders-withRuler-min.js" type="application/javascript"></script>
{% endblock %}